params {
    output_dir = 'results'
    lcs_ucsc_version = 'predefined' // '2022-05-01'
    lcs_ucsc_predefined = '2022-01-31' 
    lcs_ucsc_update = false
    downsampling = 100000 // 'None'
    variant_groups = 'default' // 'default' to turn off

    singularity_cache_dir = 'singularity'
}

// runinfo
timeline {
  enabled = true // enable to get the timeline
  file = "${params.output_dir}/execution_timeline.html"
}
report {
  enabled = true // enable to get the report
  file = "${params.output_dir}/execution_report.html"
}

profiles {
    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.singularity_cache_dir
                envWhitelist = "HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy"
        }
    }
}